@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');  /*import google fonts*/


*{
    padding: 0;
    margin: 0;                      /*default layout*/
    box-sizing: border-box;
  }
  :root{
      --clr-light: #e2d1f9;  
      --clr-dark:#317773;
      --clr-primary:#262626;
      --clr-secondary: #fffdfa;
      ---clr-shadow: rgba(0, 0, 0, 0.5);

      --foreground: var(--clr-dark);
      --backgrund: var(--clr-light);
  }
  @media(prefers-color-scheme: dark){
    :root{
      --clr-light: #262626;  
      --clr-dark:#fffdfa; 
      --clr-primary:#262626;
      --clr-secondary: #fffdfa;
      ---clr-shadow: rgba(0, 0, 0, 0.5);

      --background: var(--clr-dark);
      --foregrund: var(--clr-light);
    }
    p{
      color:#fffdfa;
    }
  }
  
  body{
    font-family: 'poppins', sans-serif;       /*body font & size*/
    font-size: 2rem 0;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background:var(--backgrund)
  }
  
  header{
    background:var(--clr-primary);        /*header color*/
  }
  
  li{
    list-style: none;           /*list style*/
  }
  
  a{
    color:var(--clr-secondary);
    text-decoration: none;            /*länkar layout*/
  }
  h1{
    color: var(--foreground);
    display: flex;
    justify-content: center;
  }
  h2{
    color: var(--foreground);
  }
  p{
    color: var(--clr-primary);
  }
  
  .container{
                      /*container layout*/
    width: 100%;
    margin: 0 auto;
    padding-right: 1rem;
    background:                                                 
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    display: grid;
  }
  
  .navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;    /*navbar flex*/
    align-items: center;
  }
  
  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  
  .nav-link{
    transition: 0.3s ease-out;
  }
  
  .nav-link:hover{
    color:var(--clr-dark);
  }
  
  .hamburger{
    display: none;
    cursor: pointer;
  }
  
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--clr-secondary);
  }
  
  @media(max-width:1024px){
    .hamburger{
      display: block;
    }
  
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .nav-menu{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: var(--clr-primary);
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
  
    .nav-item{
      margin: 16px 0;
    }
  
    .nav-menu.active{
      left: 0;
    }
  }
  
  /*bild gallery*/
.gallery{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  margin: 1rem;  
   
}

.gallery-item{
    justify-content: center;
    grid-auto-flow: column;      
    }

    img,picture{
      max-width: 100%;
      display: block;
      border-radius: 2rem;
    }

.img-gallery{
  width: 100%;
  max-width: 60vw;
  height: 100%;
  max-height: 60vh;
  object-fit: cover;
  border-radius: 2rem;
  justify-content: center;
  object-position: center;
  position: relative;
  }

  @media (max-width: 991px){
    .gallery-item{
      padding-left: 0;
    }
  }
  @media (max-width: 768px ){
    .row-1{
      display: grid;
      place-items: center;
      width: 90%;
  
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      justify-content: center;
    }
  }

.gallery-text{
    display: flex;
    justify-content: left;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 10px 10px 30px var(---clr-shadow);
  
}        


/*info sida*/
.info{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px 1fr));
  padding: 1rem;    
  justify-content: center;
  align-items: center;
}
.porträtt{
  max-width: 30vw;
  min-width: 30vh;
  display: block;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  
}

.porträtt-img{
  border-radius: 2rem;
  padding: 2em;
  border-radius: .5rem;
  box-shadow: 10px 10px 30px var(---clr-shadow);
}
.text_bold{
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  max-width: 30vw;
  min-width: 30vh;
  font-size: larger;
  font-weight: bold;
}

.text_normal{
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  max-width: 30vw;
  min-width: 30vh;
  padding: 2em;
  border-radius: .5rem;
  box-shadow: 10px 10px 30px var(---clr-shadow);
}
/*projekt template*/
.row-1{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  
}

.row-1 .left{
  overflow: hidden;
  padding: 1rem;
}

.row-1 .left .img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  padding: 2em;
  border-radius: 2rem;
}

.row-1 .right{
  display: flex;
  align-items: center;
  padding: 1rem;
}

.row-1 .right .content{
  margin-left: 0.5em;
  padding: 2em;
  border-radius: .5rem;
  box-shadow: 10px 10px 30px var(---clr-shadow);
}
.row-1 .right .content p{
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 15px;
}

@media (max-width: 991px){
  .row-1 .right .content{
    padding-left: 0;
  }
}
@media (max-width: 768px ){
  .row-1{
    display: grid;
    place-items: center;
    width: 90%;

    grid-template-columns: 1fr;
    grid-gap: 1rem;
    justify-content: center;
  }
  
}
/*rad 2*/
.row-2{
 padding: 1rem;
 margin-top: 5rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*responsiv grid*/
  grid-gap: 1rem;
  align-items: center;
  
}

.content-2{
  padding: 2em;
  border-radius: .5rem;
  box-shadow: 10px 10px 30px var(---clr-shadow);
}

.row-2 .vänster{
  padding: 1rem;
}

.row-2 .vänster img{
  width: 100%;
  max-width: 60vw;
  height: 100%;
  max-height: 60vh;
  object-fit: cover;
  border-radius: 2rem;
  justify-content: center;
  object-position: center;
  
}

.row-2 .mitten{
padding: 1rem;

}

.row-2 .mitten img{
  width: 50vw;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  padding: 1rem;
 
}

.row-2 .höger{
 padding: 1rem;
}

.row-2 .höger img{
  width: 100%;
  min-width: 30vh;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  margin-right: 1.5rem;
  
}


/*socialamedier*/

@keyframes motionblur {
  0% {
    filter: blur(0px);
  }
                              /*blur animation*/
  50% {
    filter: blur(2px);
  }

  100% {
    filter: blur(0px);
  }
}


.social-icon ul{
  border: solid 2 px var(--clr-primary);
  margin-top: 10vmax;
  position:relative;
  justify-content: center;
  top: 50%;                   /*sociala medier position*/
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;

}
.social-icon li{
  list-style: none;       /*sociala medier lista*/
  margin: 0 15px;

}
.social-icon li .fab{
  font-size: 35px;
  line-height: 60px;      /*iconer layout och transition*/
  transition: 2000ms;
  color: var(--clr-primary);

}

.social-icon ul li a:hover{
  color: #fff;                /*icon hover*/
  transform: translate(0,-10%);
}
.social-icon ul li a{
  position: relative;
  display: block;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;             /*icon utseende och transition*/
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 8 px var(---clr-shadow);
  transition: 600ms;
}

.social-icon ul li:nth-child(1) a:hover{
  background-color: rgb(56, 121, 218);   /* icon byta färg vid hover*/
  animation-name: motionblur;
  animation-duration: 0.75s;
  animation-timing-function: cubic-bezier(.71,0,.33,1.56);
}
.social-icon ul li:nth-child(2) a:hover{
  background-color:rgb(182, 80, 182);  /*icon byta färg vid hover*/
  animation-name: motionblur;
  animation-duration: 0.75s;
  animation-timing-function: cubic-bezier(.71,0,.33,1.56);
}